# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results
/reports
.nyc_output
/merged-reports
/cypress-coverage
/cypress/screenshots
test-results.xml

# production
/dist
/build
/lib

# npm pack artifacts
*.tgz
.eslintcache

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
mf.config.json

/.idea
/.vscode
*.iml
Makefile

.env.local
cypress.env.json
