@import "~cond-common-components/styles/base/reset";

body {
  padding: 0;
  font-family: var(--ClassicFont);
}

.header {
  display: flex;
  height: 50px;
  padding: 16px 24px;
  gap: 20px;
  border-bottom: 1px solid var(--darkGrey);
  align-items: center;
}

.link {
  color: var(--green);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: transform 0.3s;
  width: 100px;
  text-align: center;
  &:hover {
    transform: scale(1.2);
  }
  &.active {
    border-bottom-color: var(--green);
  }
}

.main {
  padding: 24px;
}
